In [2]:
print("Hello")

Hello

Markdown cells allow for text formatting if you want to add notes or some explanation for what you're doing
### Markdown Shortcuts
- Run Cell: Shift + Enter
- New Cell: b
- New Cell Above: A
- Delete Cell: DD
- Code Cell: Y
- Markdown Cell: M
- Editing Mode: Enter
- Command Mode: Esc

### Major Data Types
##### individual data types
- Integers/floats (aka numbers)
- Strings (text)
- Booleans (True/False)

##### Containers
- index based: lists, tubles, sets
- Non-index based: Dictionaries

##### Other
- Functions
- Classes

### This is a heading

this is regular text.
- this is a bullet 
- another bullet

In [18]:
type(print)

builtin_function_or_method

In [10]:
print("pizza")
print(5)
print(5*7)

pizza
5
35

In [35]:
hi = 45

In [49]:
print(hi)

45

In [37]:
type(hi)

int

In [38]:
hi is 45

True

In [79]:
var = 'this is a string'

In [58]:
print(var)

this is a string

In [80]:
var.upper()

'THIS IS A STRING'

In [82]:
x = 23
y = 37
python_string = 'string for exercise'
print(f'The Value of x: {x}')

The Value of x: 23

In [84]:
print(f'the Value of x: {x}')

the Value of x: 23

In [87]:
python_string.lower()

'string for exercise'

In [88]:
python_string.upper()

'STRING FOR EXERCISE'

In [89]:
python_string.capitalize()

'String for exercise'

In [90]:
python_string.title()

'String For Exercise'

In [91]:
print(python_string)

string for exercise

In [110]:
print(f'x%y = {x%y}')

x%y = 2

In [109]:
print(f'x divided by y = {x/y}')

x divided by y = 0.05555555555555555

In [111]:
print(f'x//y = {x//y}')

x//y = 0

In [116]:
var = var.upper()

In [117]:
var

'THIS IS A STRING'

In [10]:
import pandas as pd

In [11]:
df = pd.read_csv('titanic.csv')

In [128]:
type(df)

pandas.core.frame.DataFrame

In [132]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [133]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [134]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [135]:
df.mean()

PassengerId    446.000000
Survived         0.383838
Pclass           2.308642
Age             29.699118
SibSp            0.523008
Parch            0.381594
Fare            32.204208
dtype: float64

In [139]:
df.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

In [143]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [145]:
df.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [150]:
df.isnull().sum()/891

PassengerId    0.000000
Survived       0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.198653
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Cabin          0.771044
Embarked       0.002245
dtype: float64

### finding outliers
get all numerical columns
"demean" them by subtracting the mean from each column, then dividing by the standard deviation (so the standard deviation is now equal to 1).
Then find which columns are more than 2 standard deviations away from the center

In [151]:
import numpy as np
df.select_dtypes(include=np.number)

     PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare
0              1         0       3  22.0      1      0   7.2500
1              2         1       1  38.0      1      0  71.2833
2              3         1       3  26.0      0      0   7.9250
3              4         1       1  35.0      1      0  53.1000
4              5         0       3  35.0      0      0   8.0500
..           ...       ...     ...   ...    ...    ...      ...
886          887         0       2  27.0      0      0  13.0000
887          888         1       1  19.0      0      0  30.0000
888          889         0       3   NaN      1      2  23.4500
889          890         1       1  26.0      0      0  30.0000
890          891         0       3  32.0      0      0   7.7500

[891 rows x 7 columns]

In [152]:
num_df = df.select_dtypes(include=np.number)

In [157]:
num_df_std = (num_df - num_df.mean()) / num_df.std()

In [158]:
num_df_std.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,8.910000e+02,8.910000e+02,8.910000e+02,7.140000e+02,8.910000e+02,8.910000e+02,8.910000e+02
mean,-2.317637e-17,1.903951e-16,1.679664e-16,2.003921e-16,1.528893e-16,-3.638441e-17,7.437622e-16
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min,-1.729137e+00,-7.888293e-01,-1.565228e+00,-2.015566e+00,-4.742788e-01,-4.734077e-01,-6.480577e-01
25%,-8.645684e-01,-7.888293e-01,-3.691575e-01,-6.590796e-01,-4.742788e-01,-4.734077e-01,-4.888737e-01
50%,0.000000e+00,-7.888293e-01,8.269128e-01,-1.169668e-01,-4.742788e-01,-4.734077e-01,-3.571902e-01
75%,8.645684e-01,1.266279e+00,8.269128e-01,5.714304e-01,4.325504e-01,-4.734077e-01,-2.423274e-02
max,1.729137e+00,1.266279e+00,8.269128e-01,3.462699e+00,6.780355e+00,6.970233e+00,9.661740e+00

In [159]:
num_df_std > 2

     PassengerId  Survived  Pclass    Age  SibSp  Parch   Fare
0          False     False   False  False  False  False  False
1          False     False   False  False  False  False  False
2          False     False   False  False  False  False  False
3          False     False   False  False  False  False  False
4          False     False   False  False  False  False  False
..           ...       ...     ...    ...    ...    ...    ...
886        False     False   False  False  False  False  False
887        False     False   False  False  False  False  False
888        False     False   False  False  False   True  False
889        False     False   False  False  False  False  False
890        False     False   False  False  False  False  False

[891 rows x 7 columns]

In [165]:
num_df_std.loc[:,(num_df_std > 2).sum() > 0]

          Age     SibSp     Parch      Fare
0   -0.530005  0.432550 -0.473408 -0.502163
1    0.571430  0.432550 -0.473408  0.786404
2   -0.254646 -0.474279 -0.473408 -0.488580
3    0.364911  0.432550 -0.473408  0.420494
4    0.364911 -0.474279 -0.473408 -0.486064
..        ...       ...       ...       ...
886 -0.185807 -0.474279 -0.473408 -0.386454
887 -0.736524 -0.474279 -0.473408 -0.044356
888       NaN  0.432550  2.007806 -0.176164
889 -0.254646 -0.474279 -0.473408 -0.044356
890  0.158392 -0.474279 -0.473408 -0.492101

[891 rows x 4 columns]

In [168]:
#axis = is the default and applies the method down columns, axis = 1 will apply it across rows
df.mean(axis=1)

0        4.892857
1       16.326186
2        5.846429
3       13.585714
4        7.292857
          ...
886    132.714286
887    134.142857
888    153.075000
889    135.428571
890    133.392857
Length: 891, dtype: float64

In [174]:
#grab just the age column and apply the describe method on 
df['Age'].describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [176]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [179]:
??pd.read_csv

In [182]:
df.describe(include='object')

                                    Name   Sex    Ticket        Cabin Embarked
count                                891   891       891          204      889
unique                               891     2       681          147        3
top     Trout, Mrs. William H (Jessie L)  male  CA. 2343  C23 C25 C27        S
freq                                   1   577         7            4      644

In [195]:
#count the number of rows where the 'Name' field contains 'Mary'
df['Name'].str.contains('Mary').sum()

20

### Conditional Logic
#### Three primary keywords
- If 
- Elif
- Else

In python True and False are their own unique data type (boolean).

In [210]:
x = 10

In [209]:
type(x != 11)

bool

In [211]:
x != 10

False

In [213]:
True

True

In [216]:
type(True)

bool

In [218]:
True or False

True

In [219]:
x == 10 or x == 11

True

In [220]:
True or False and True or False

True

In [222]:
a = 1
b = 2
c = 3

In [225]:
a == 1 or b == 3 and c == 3 or b == 5

True

In [226]:
not False

True

In [227]:
not a == 2

True

In [228]:
not True

False

In [229]:
not a == 1

False

In [230]:
True or False and False and False

True

In [231]:
a == 1 or a == 2 and a == 3 and a == 4

True

In [232]:
True or False or True or False

True

In [242]:
a == 1 or a == 3 or b == 2 or b == 3

True

In [245]:
if True:
    print("do this")

In [281]:
if x < 20:
    print("It's True")
    x = x+1

In [282]:
x

20

In [288]:
df.shape[0]

891

In [289]:
?update_rows

Object `update_rows` not found.

In [290]:
from db import update_rows

ModuleNotFoundError: No module named 'db'

In [291]:
df['Age'].max()

80.0

In [2]:
if df.round(0)['Age'].max() > 65:
    print("We have a senior.")
    print(f"Their age is: {int(df['Age'].max())}")
if df['Fare'].max() > 250:
          print("We have a high roller.")          
else:
    print("No Seniors.")
    print("Nothing is true.")

NameError: name 'df' is not defined

In [14]:
cats = int(input("HOW MANY CATS?: "))
if cats > 50:
    if cats > 100:
        print(f"I'm calling the police")
    else:
        print(f"{cats}?! That's too many cats!")
elif cats > 2:
    print(f'{cats} seems like a lot of cats.')
elif cats < 0:
    print("That's impossible")
else:
    print(f'{cats} cats is a reasonable number of cats to have')

HOW MANY CATS?: 75
75?! That's too many cats!

In [13]:
df['Age'].max()

80

### Lists
##### COntainers that hold different variables
##### Key DIstinctions:
- Items have a distinct order
- Can use slices to selectively grab items at different locations in list
- Have various methods to get items in and out of them

##### Most data are represented as lists
- Tabular data
- Images/higher dimensional data

In [26]:
#create a list. The list has another list nested within it
my_list = [1,2,3,True,False,'this','that',6,7,[1,2,3]]

In [30]:
# return first item in list
my_list[0]

1

In [31]:
# return last item in list
my_list[-1]

[1, 2, 3]

In [25]:
#grab the column at position 0 in dataframe df
df.iloc[:, 0]

0        1
1        2
2        3
3        4
4        5
      ...
886    887
887    888
888    889
889    890
890    891
Name: PassengerId, Length: 891, dtype: int64

In [34]:
# return the last column in the dataframe df
# iloc = "index-based location"
df.iloc[:,-1]

0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: object

In [41]:
# return a slice of positions 2,3,4,5
my_list[2:6]

[3, True, False, 'this']

In [42]:
# first 5 list items
my_list[:6]

[1, 2, 3, True, False, 'this']

In [43]:
# return the first 100 rows of the first 5 columns
df.iloc[:100,:5]

,PassengerId,Survived,Pclass,Name,Sex
0,1,0,3,"Braund, Mr. Owen Harris",male
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female
2,3,1,3,"Heikkinen, Miss. Laina",female
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female
4,5,0,3,"Allen, Mr. William Henry",male
...,...,...,...,...,...
95,96,0,3,"Shorney, Mr. Charles Joseph",male
96,97,0,1,"Goldschmidt, Mr. George B",male
97,98,1,1,"Greenfield, Mr. William Bertram",male
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female
99,100,0,2,"Kantor, Mr. Sinai",male

In [48]:
df.iloc[4]

PassengerId                           5
Survived                              0
Pclass                                3
Name           Allen, Mr. William Henry
Sex                                male
Age                                  35
SibSp                                 0
Parch                                 0
Ticket                           373450
Fare                               8.05
Cabin                               NaN
Embarked                              S
Name: 4, dtype: object

In [53]:
# return the last value in the nested list (which is in the final position of the main list)
my_list[-1][-1]

3

In [56]:
df.iloc[-1][3]

'Dooley, Mr. Patrick'

In [57]:
my_list

[1, 2, 3, True, False, 'this', 'that', 6, 7, [1, 2, 3]]

In [69]:
for item in my_list:
    print(item)
    print(f"type of item: {type(item)}")
print('\n hi \n \n hello')

1
type of item: <class 'int'>
2
type of item: <class 'int'>
3
type of item: <class 'int'>
True
type of item: <class 'bool'>
False
type of item: <class 'bool'>
this
type of item: <class 'str'>
that
type of item: <class 'str'>
6
type of item: <class 'int'>
7
type of item: <class 'int'>
[1, 2, 3]
type of item: <class 'list'>

 hi

 hello

In [71]:
# if you just want to loop through the first four items in a list
for item in my_list[:4]:
    print(item)

1
2
3
True

In [76]:
long_string = 'I have always been impressed by Mr Rogers'

In [77]:
long_string.split()

['I', 'have', 'always', 'been', 'impressed', 'by', 'Mr', 'Rogers']

In [110]:
fruits = ['apple','banana','pear','raspberry','blackberry','watermelon','blueberry','apricot','melon','cranberry']

In [111]:
# check length of something
len(fruits)

10

In [112]:
len('bear')

4

In [113]:
for fruit in fruits:
    print(fruit)

apple
banana
pear
raspberry
blackberry
watermelon
blueberry
apricot
melon
cranberry

In [114]:
# Create a loop that prints the name of every item in the list, as well as its length
for fruit in fruits:
    print(fruit,f' length: {len(fruit)}')

apple  length: 5
banana  length: 6
pear  length: 4
raspberry  length: 9
blackberry  length: 10
watermelon  length: 10
blueberry  length: 9
apricot  length: 7
melon  length: 5
cranberry  length: 9

In [129]:
for fruit in fruits:
    print(fruit, 'has a length of', len(fruit))

apple has a length of 5
banana has a length of 6
pear has a length of 4
raspberry has a length of 9
blackberry has a length of 10
watermelon has a length of 10
blueberry has a length of 9
apricot has a length of 7
melon has a length of 5
cranberry has a length of 9

In [115]:
#Create a loop that prints the name of every item in the list, if it's length is an even number. Use a comment on each line to describe what you're doing

for fruit in fruits:
    if len(fruit) % 2 == 0:
        print(fruit)

banana
pear
blackberry
watermelon

In [116]:
number_of_evens = 0
for fruit in fruits:
    if len(fruit) % 2 ==0:
        number_of_evens = number_of_evens + 1

In [117]:
number_of_evens

4

In [118]:
even_fruits = []
for fruit in fruits:
    if len(fruit) % 2 == 0:
        even_fruits.append(fruit)
        print(even_fruits)

['banana']
['banana', 'pear']
['banana', 'pear', 'blackberry']
['banana', 'pear', 'blackberry', 'watermelon']

In [121]:
even_fruits = []
for fruit in fruits:
    if len(fruit) % 2 == 0:
        even_fruits.append(fruit)
        print(even_fruits)

['banana']
['banana', 'pear']
['banana', 'pear', 'blackberry']
['banana', 'pear', 'blackberry', 'watermelon']

In [122]:
new_list = []
for fruit in fruits:
    if fruit[0] == 'a' or fruit[0] == 'm' or fruit[0] == 'c':
        new_list.append(fruit)
        print(new_list)

['apple']
['apple', 'apricot']
['apple', 'apricot', 'melon']
['apple', 'apricot', 'melon', 'cranberry']

In [132]:
for row in df[:2].iterrows():
    print(row)

(0, PassengerId                          1
Survived                             0
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                                 22
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Name: 0, dtype: object)
(1, PassengerId                                                    2
Survived                                                       1
Pclass                                                         1
Name           Cumings, Mrs. John Bradley (Florence Briggs Th...
Sex                                                       female
Age                                                           38
SibSp                                                          1
Parch                                                          0
Ticket                                                  PC 17599
Fare                                                     71.2833
Cabin                                                        C85
Embarked                                                       C
Name: 1, dtype: object)

In [130]:
df.iterrows()

#### Dictionaries
##### Used to hold items as key/value paires
##### Unlike lists there is no inherent concept of order
##### Common uses:
- Manipulating columns in a dataset as key lookups
- Carry information about users in a web application

In [133]:
# create a dictionary named 'myself'
myself = {
    'name': 'Jonathan',
    'age': 34,
    'sign': 'aquarius',
    'interests': ['reading','python','philosophy']
}

In [134]:
myself

{'name': 'Jonathan',
 'age': 34,
 'sign': 'aquarius',
 'interests': ['reading', 'python', 'philosophy']}

In [143]:
for interest in myself['interests']:
    print(interest)

reading
python
philosophy

- most API data is transported via dictionaries
- JSON is like a dictionary that lives inside the web
- useful library named Requests

In [148]:
import requests

In [149]:
url = 'https://api.census.gov/data.json'

In [151]:
data = requests.get(url)

In [166]:
# pass the dataset list into a dataframe
web_df = pd.DataFrame(data.json()['dataset'])

In [168]:
web_df.head()

,c_vintage,c_dataset,c_geographyLink,c_variablesLink,c_examplesLink,c_groupsLink,c_valuesLink,c_documentationLink,c_isAggregate,c_isCube,...,keyword,license,modified,programCode,references,spatial,temporal,publisher,c_tagsLink,c_isTimeseries
0,1999.0,[nonemp],https://api.census.gov/data/1999/nonemp/geogra...,https://api.census.gov/data/1999/nonemp/variab...,https://api.census.gov/data/1999/nonemp/exampl...,https://api.census.gov/data/1999/nonemp/groups...,https://api.census.gov/data/1999/nonemp/values...,http://www.census.gov/developer/,True,True,...,[],http://creativecommons.org/publicdomain/zero/1...,2017-02-09,[006:007],[http://www.census.gov/developers/],United States,1999/1999,"{'@type': 'org:Organization', 'name': 'U.S. Ce...",NaN,NaN
1,1997.0,[nonemp],https://api.census.gov/data/1997/nonemp/geogra...,https://api.census.gov/data/1997/nonemp/variab...,https://api.census.gov/data/1997/nonemp/exampl...,https://api.census.gov/data/1997/nonemp/groups...,https://api.census.gov/data/1997/nonemp/values...,http://www.census.gov/developer/,True,True,...,[],http://creativecommons.org/publicdomain/zero/1...,2017-02-09,[006:007],[http://www.census.gov/developers/],United States,1997/1997,"{'@type': 'org:Organization', 'name': 'U.S. Ce...",NaN,NaN
2,1986.0,[cbp],https://api.census.gov/data/1986/cbp/geography...,https://api.census.gov/data/1986/cbp/variables...,https://api.census.gov/data/1986/cbp/examples....,https://api.census.gov/data/1986/cbp/groups.json,https://api.census.gov/data/1986/cbp/values.json,http://www.census.gov/developer/,True,NaN,...,[],http://creativecommons.org/publicdomain/zero/1...,2019-02-13,[006:007],[http://www.census.gov/developers/],United States,1986/1986,"{'@type': 'org:Organization', 'name': 'U.S. Ce...",NaN,NaN
3,1997.0,[zbp],https://api.census.gov/data/1997/zbp/geography...,https://api.census.gov/data/1997/zbp/variables...,https://api.census.gov/data/1997/zbp/examples....,https://api.census.gov/data/1997/zbp/groups.json,https://api.census.gov/data/1997/zbp/values.json,http://www.census.gov/developer/,True,NaN,...,[],http://creativecommons.org/publicdomain/zero/1...,2017-05-23,[006:007],[http://www.census.gov/developers/],United States,1997/1997,"{'@type': 'org:Organization', 'name': 'U.S. Ce...",NaN,NaN
4,1987.0,[cbp],https://api.census.gov/data/1987/cbp/geography...,https://api.census.gov/data/1987/cbp/variables...,https://api.census.gov/data/1987/cbp/examples....,https://api.census.gov/data/1987/cbp/groups.json,https://api.census.gov/data/1987/cbp/values.json,http://www.census.gov/developer/,True,NaN,...,[],http://creativecommons.org/publicdomain/zero/1...,2019-02-13,[006:007],[http://www.census.gov/developers/],United States,1987/1987,"{'@type': 'org:Organization', 'name': 'U.S. Ce...",NaN,NaN

In [169]:
web_df

,c_vintage,c_dataset,c_geographyLink,c_variablesLink,c_examplesLink,c_groupsLink,c_valuesLink,c_documentationLink,c_isAggregate,c_isCube,...,keyword,license,modified,programCode,references,spatial,temporal,publisher,c_tagsLink,c_isTimeseries
0,1999.0,[nonemp],https://api.census.gov/data/1999/nonemp/geogra...,https://api.census.gov/data/1999/nonemp/variab...,https://api.census.gov/data/1999/nonemp/exampl...,https://api.census.gov/data/1999/nonemp/groups...,https://api.census.gov/data/1999/nonemp/values...,http://www.census.gov/developer/,True,True,...,[],http://creativecommons.org/publicdomain/zero/1...,2017-02-09,[006:007],[http://www.census.gov/developers/],United States,1999/1999,"{'@type': 'org:Organization', 'name': 'U.S. Ce...",NaN,NaN
1,1997.0,[nonemp],https://api.census.gov/data/1997/nonemp/geogra...,https://api.census.gov/data/1997/nonemp/variab...,https://api.census.gov/data/1997/nonemp/exampl...,https://api.census.gov/data/1997/nonemp/groups...,https://api.census.gov/data/1997/nonemp/values...,http://www.census.gov/developer/,True,True,...,[],http://creativecommons.org/publicdomain/zero/1...,2017-02-09,[006:007],[http://www.census.gov/developers/],United States,1997/1997,"{'@type': 'org:Organization', 'name': 'U.S. Ce...",NaN,NaN
2,1986.0,[cbp],https://api.census.gov/data/1986/cbp/geography...,https://api.census.gov/data/1986/cbp/variables...,https://api.census.gov/data/1986/cbp/examples....,https://api.census.gov/data/1986/cbp/groups.json,https://api.census.gov/data/1986/cbp/values.json,http://www.census.gov/developer/,True,NaN,...,[],http://creativecommons.org/publicdomain/zero/1...,2019-02-13,[006:007],[http://www.census.gov/developers/],United States,1986/1986,"{'@type': 'org:Organization', 'name': 'U.S. Ce...",NaN,NaN
3,1997.0,[zbp],https://api.census.gov/data/1997/zbp/geography...,https://api.census.gov/data/1997/zbp/variables...,https://api.census.gov/data/1997/zbp/examples....,https://api.census.gov/data/1997/zbp/groups.json,https://api.census.gov/data/1997/zbp/values.json,http://www.census.gov/developer/,True,NaN,...,[],http://creativecommons.org/publicdomain/zero/1...,2017-05-23,[006:007],[http://www.census.gov/developers/],United States,1997/1997,"{'@type': 'org:Organization', 'name': 'U.S. Ce...",NaN,NaN
4,1987.0,[cbp],https://api.census.gov/data/1987/cbp/geography...,https://api.census.gov/data/1987/cbp/variables...,https://api.census.gov/data/1987/cbp/examples....,https://api.census.gov/data/1987/cbp/groups.json,https://api.census.gov/data/1987/cbp/values.json,http://www.census.gov/developer/,True,NaN,...,[],http://creativecommons.org/publicdomain/zero/1...,2019-02-13,[006:007],[http://www.census.gov/developers/],United States,1987/1987,"{'@type': 'org:Organization', 'name': 'U.S. Ce...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,2018.0,"[acs, acs5, profile]",https://api.census.gov/data/2018/acs/acs5/prof...,https://api.census.gov/data/2018/acs/acs5/prof...,https://api.census.gov/data/2018/acs/acs5/prof...,https://api.census.gov/data/2018/acs/acs5/prof...,https://api.census.gov/data/2018/acs/acs5/prof...,https://www.census.gov/developer/,True,True,...,[],https://creativecommons.org/publicdomain/zero/...,2019-10-22 16:22:18.0,[006:004],[https://www.census.gov/developers/],NaN,unidentified,"{'@type': 'org:Organization', 'name': 'U.S. Ce...",NaN,NaN
384,2018.0,"[acs, acs5, cprofile]",https://api.census.gov/data/2018/acs/acs5/cpro...,https://api.census.gov/data/2018/acs/acs5/cpro...,https://api.census.gov/data/2018/acs/acs5/cpro...,https://api.census.gov/data/2018/acs/acs5/cpro...,https://api.census.gov/data/2018/acs/acs5/cpro...,https://www.census.gov/developer/,True,True,...,[],https://creativecommons.org/publicdomain/zero/...,2019-10-22 14:54:09.0,[006:004],[https://www.census.gov/developers/],NaN,unidentified,"{'@type': 'org:Organization', 'name': 'U.S. Ce...",NaN,NaN
385,2012.0,[cfsarea],https://api.census.gov/data/2012/cfsarea/geogr...,https://api.census.gov/data/2012/cfsarea/varia...,https://api.census.gov/data/2012/cfsarea/examp...,https://api.census.gov/data/2012/cfsarea/group...,https://api.census.gov/data/2012/cfsarea/value...,https://www.census.gov/developer/,True,NaN,...,[],https://creativecommons.org/publicdomain/zero/...,2019-11-18 16:03:01.0,[006:007],[https://www.census.gov/developers/],NaN,unidentified,"{'@type': 'org:Organization', 'name': 'U.S. Ce...",NaN,NaN
386,2012.0,[cfsexport],https://api.census.gov/data/2012/cfsexport/geo...,https://api.census.gov/data/2012/cfsexport/var...,https://api.census.gov/data/2012/cfsexport/exa...,https://api.census.gov/data/2012/cfsexport/gro...,https://api.census.gov/data/2012/cfsexport/val...,https://www.census.gov/developer/,True,NaN,...,[],https://creativecommons.org/publicdomain/zero/...,2019-11-18 16:03:11.0,[006:007],[https://www.census.gov/developers/],NaN,unidentified,"{'@type': 'org:Organization', 'name': 'U.S. Ce...",NaN,NaN
387,2018.0,"[acs, acs5, subject]",https://api.census.gov/data/2018/acs/acs5/subj...,https://api.census.gov/data/2018/acs/acs5/subj...,https://api.census.gov/data/2018/acs/acs5/subj...,https://api.census.gov/data/2018/acs/acs5/subj...,https://api.census.gov/data/2018/acs/acs5/subj...,https://www.census.gov/developer/,True,True,...,[],https://creativecommons.org/publicdomain/zero/...,2019-10-22 15:36:29.0,[006:004],[https://www.census.gov/developers/],NaN,unidentified,"{'@type': 'org:Organization', 'name': 'U.S. Ce...",https://api.census.gov/data/2018/acs/acs5/subj...,NaN